body {
    background: #112;
    color: #CCC;
    font-family: Helvetica, Arial, san-serif
}

a {
    color: #DDD;
}

#tiles {
    width: 450px;
    height: 450px;
    background: #CCC;
    position: relative;
}

.tile {
    width: 150px;
    height: 150px;
    background: #fcba03;
    background-image: url("pic1.png");
    background-size: 450px 450px;

    color: #000;
    font-size: 60px;
    border: 1px solid rgba(0,0,0,0.5);
    position: absolute;
    box-sizing: border-box;
    transition: top 0.13s, left 0.13s;
    transition-timing-function: ease-out;
}


