:root {
  --tiles-width: calc(100vw - 14px);
}

body {
    background: #112;
    color: #CCC;
    font-family: Helvetica, Arial, san-serif;
    margin: 7px;
}

a {
    color: #DDD;
}

#tiles {
    width: var(--tiles-width);
    height: var(--tiles-width);
    max-width: 600px;
    max-height: 600px;
    background: #CCC;
    position: relative;
}

.tile {
    background-image: url("pic1.png");

    border: 1px solid rgba(0,0,0,0.5);
    position: absolute;
    box-sizing: border-box;
    transition: top 0.13s, left 0.13s, opacity 0.8s;
    transition-timing-function: ease-out;
}

.tile.x3 {
    width: 33.33333%;
    height: 33.33333%;
    background-size: 300% 300%;
}

.tile.x4 {
    width: 25%;
    height: 25%;
    background-size: 400% 400%;
}

.tile.x5 {
    width: 20%;
    height: 20%;
    background-size: 500% 500%;
}

.tile.x6 {
    width: 16.66666%;
    height: 16.66666%;
    background-size: 600% 600%;
}

.tile.x7 {
    width: 14.28571%;
    height: 14.28571%;
    background-size: 700% 700%;
}

.tile.x8 {
    width: 12.5%;
    height: 12.5%;
    background-size: 800% 800%;
}

.tile.hide {
    opacity: 0;
    z-index: -10;
}


