:root {
  --tiles-width: calc(100vw - 14px);
  --tile-width: calc(var(--tiles-width) / 3);
}

body {
    background: #112;
    color: #CCC;
    font-family: Helvetica, Arial, san-serif;
    margin: 7px;
}

a {
    color: #DDD;
}

#tiles {
    width: var(--tiles-width);
    height: var(--tiles-width);
    max-width: 600px;
    max-height: 600px;
    background: #CCC;
    position: relative;
}

.tile {
    width: 33.33333%;
    height: 33.33333%;
    background-image: url("pic1.png");
    background-size: 300% 300%;

    border: 1px solid rgba(0,0,0,0.5);
    position: absolute;
    box-sizing: border-box;
    transition: top 0.13s, left 0.13s, opacity 0.8s;
    transition-timing-function: ease-out;
}

.tile.hide {
    opacity: 0;
    z-index: -10;
}


